body {
   background-color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #5cb7f7;
}






