body {
    background: radial-gradient(circle, #5cb7f7 100%, #2291e0 50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.container {
    background-color: white;
    border-radius: 5px;
    height: 50vh;
    text-align: left;
}

#input-skills {
    background-color: rgb(199, 197, 197);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    border-width: 2px;
    margin-top: 50px;
    margin-left: 20px;
    min-width: 500px;
    min-height: 40px;
    padding-left: 10px;
}

#btn-submit-skills {
    background-color: rgb(199, 197, 197);
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin: 10px;
    min-width: 100px;
    height: 40px;
}

#btn-submit-skills:hover {
    background-color: gray;
    cursor: pointer;
}