body {
   background-color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
}

.mt-2, .my-2 {
/* Space between recognition text and search bar*/

    margin-top: .5rem!important;
    padding-top: 21px;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 20px;
    -webkit-font-smoothing: inherit;
     border: 3px solid #5cb7f7;

}

.selectize-control.multi .selectize-input>div {

    background-image: linear-gradient(to bottom,#5cb7f7,#5cb7f7);
}

input[type=submit] {
 background-color: #5cb7f7;
 border: 1px solid white ;
 border-radius: 4px;
 color: white;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 18px;
 padding: 10px 27px;
 text-decoration: none;
 cursor: pointer;
 margin-top: 4px;
}


input[type=submit]:hover {
 background-color: #7B7474;
}


.dataTables_wrapper {
    margin-top: 41px;
    background: white;

}

label {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

button, input, optgroup, select, textarea {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;

}