body {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: black;
}

.name_color1 {
        background-color: #08c;

}

.name_color2 {
        background-color: #08c;
        margin-top: -3px;
}