{% extends 'base.html' %}


{% block body %}

<h1 class="text-center">Recognition Engine</h1>


{%  if consultants_in_db %}
<div id="container" class="mt-2 col-md-12">


    <div id="wrapper" class="wrapper">
        <form role="form" id="consultant" action="/" method="POST">
            <div class="one">
                <select id="select-name" name="vals" placeholder="Select a skill..." multiple>
                    {% for skill in skills %}
                    <option value="{{ skill }}">{{ skill }}</option>
                    {% endfor %}
                </select>
                <p id="chosen-skill"></p>
            </div>
            <div class="two">
                <input type="submit" id="send-skills" value="Submit">

            </div>

        </form>


    </div>
</div>
{% else %}
<p>
<div style="color:red; font-size: 18px; margin-top: 15px;"> {{ error_message_db_empty }}</div> </p>

{% endif %}
<div class="container">


    <div style="color:red; font-size: 18px; margin-top: 15px;"> {{ error_message }}</div>

    {% if len_consultants > 0 %}
    <table class="table" id="mydatatable" style="width: 100%;">
        <thead>
        <tr>
            <th scope="col">
                Name
            </th>
            {% for skill in select %}

            <th scope="col">
                {{ skill }}
            </th>


            {% endfor %}


        </tr>
        </thead>
        <tbody>

        {% for consultant in consultants %}

        <tr>
            <th scope="row">
                <a href="{{ url_for('controller.profile_page', candidate_id=consultant.consultant_id)}}">{{consultant.name.first_name
                    + " " + consultant.name.last_name}}</a>
            </th>
            {% for key,value in consultant.skills.items() %}
            <td>

                {{ value }}
            </td>
            {% endfor %}
            <td style="color:white;"></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>


{% endblock %}

