{% extends 'base.html' %}

{% block extra_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css' )}}"> {% endblock %}
{% block  body %}

<h1> {{ consultant_details.name.first_name }}'s Consultant Profile </h1>

<div class="container-profile">

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <h2 class="name_color1" style=" margin-top: -2px;"> {{consultant_details.name.first_name
    + " " + consultant_details.name.last_name}}</h2>
  </li>
      <li class="nav-item">

  </li>
  <li class="nav-item">
   <h5 class="name_color2"> <a class="nav-link" href="{{ url_for('controller.download_link', candidate_id=consultant_details.consultant_id)}}" style="color:black; margin-top: -1px;">CV</a> </h5>
  </li>
  <li class="nav-item">
    <h3> Stream:  {{ consultant_details.stream }} </h3>
  </li>
  <li class="nav-item">
   <h3> Availability: {{ consultant_details.availability }}  </h3>
  </li>
</ul>

</div>





<div>  <img src="{{ url_for('controller.send_image', candidate_id=consultant_details.consultant_id)}}" alt="my plot" width="1500px" ></div>


{% endblock %}